<div class="row">
    <h1>BIBLIOGRAFÍA Y VIDEOGRAFÍA</h1>
</div>
<div class="row">
        <p>LAS GUERRAS DEL AGUA, Privatización, Contaminación y Lucro.Vandana Shiva. Siglo XXI editores. 2004. </p>
        <p>LA MINERÍA EN EL POSCONFLICTO: UN ASUNTO DE QUILATES.Valencia Agudelo Leon, Riaño Alexander. Ediciones B Colombia.2017.</p>
        <p>ORO AZUL LAS MULTINACIONALES Y EL ROBO ORGANIZADO DE AGUA EN EL MUNDO.Barlow, Maude y Clarke, Tony. Paidós. 2004</p>
        <p>LOS ECONOMISTA NEOLIBERALES: NUEVOS CRIMINALES DE GUERRA. Renán Vega Cantor,</p>
        <p>EXTRACTIVISMOS Y POSCONFLICTO EN COLOMBIA. Capítulo ¡A un lado, que viene el progreso! Construcción del Proyecto Hidroituango en el cañón del Cauca medio antioqueño, Colombiano. Astrid Ulloa, Sergio Coronado, Editorial Perspectivas Ambientales Grupo de investigación Cultura y ambiente, Facultad de Ciencias Humanas Universidad Nacional.</p>
        <p>DOS CARAS DE HIDROITUANGO. Angélica María Cuevas Guarnizo, Walter Arias. El espectador https://www.elespectador.com/noticias/medio-ambiente/dos-caras-de-hidroituango-articulo-475886</p>
        <p>ORO AZUL: LAS MULTINACIONALES Y EL ROBO ORGANIZADO DE AGUA EN EL MUNDO Barlow, Maude y Clarke, Tony. Paidós, Barcelona, 2004. Llevado al español: Díaz Alpuente, Fernando. Universidad Autónoma de Madrid. Grupo de Estudios de Relaciones Internacionales (GERI). Edición 2007-03</p>
        <p>RESOLUCIÓN NÚMERO 18 0577 DE 9 DE ABRIL DE 2010. Ministerio de minas y energía. <a href=" http://servicios.minminas.gov.co/minminas/downloads/archivosSoporteRevistas/6041.pdf">Link</a></p>
        <p>Página de internet de EPM, <a href="https://www.epm.com.co/site/nuestros-proyectos/proyecto-ituango">link</a>  .</p>
        <p>Página en internet del proyecto Ituango, https://www.hidroituango.com.co/hidroituango/caracteristicas-de-proyecto/30 </p>
        <p>Página del Ministerio de Energia: https://www.minenergia.gov.co/inicio</p>
        <p>Documentales: La escuela del agua | Netflix https://www.netflix.com/ad/title/81006594</p>
        <p>Hidroituango ¡Lo que no quieren que sepas! - Youtube https://www.youtube.com/watch?v=U4HEHNrElsk</p>
        <p>https://www.radiomacondo.fm/noticias-nacionales/documental-hace-anos-las-comunidades-advirtieron-sobre-los-riesgos-de-llevar-a-cabo-hidroituango/</p>
        <p>Película También la lluvia. Icíar Bollaín, 2010 en https://www.youtube.com/watch?v=hlhTCvghLVM</p>
        <p>Centrales Hidroeléctricas Documentales en https://www.youtube.com/watch?v=Uof311MrZm0</p>
        <p>LOS 50 AÑOS DEL PROYECTO DE HIDROITUANGO https://www.elcolombiano.com/antioquia/obras/historia-de-hidroituango-cronologia-del-proyecto-DJ10198586</p>
        <p>Historia. https://www.epm.com.co/site/home/institucional/historia</p>
        <p>Origen del agua en la Tierra. http://enciclopedia.us.es/index.php/Origen_del_agua_en_la_Tierra</p>
        <p>HOMO SAPIENS - Origen, características, alimentación y herramientas. https://sobrehistoria.com/homo-sapiens/</p>
        <p>Historia del Antiguo Egipto. El Contexto del arte egipcio. https://www.arteespana.com/historiaantiguoegipto.htm</p>
        <p>http://oab.ambientebogota.gov.co/apc-aa-files/57c59a889ca266ee6533c26f970cb14a/Caracterizaci%F3nconsumo_%20aguausuarios.pdf</p>
        
</div>