<h1>OBJETIVOS</h1>
<div class="row">
<p>Propiciar en torno a la construcción de la Hidroeléctrica de Hidroituango para visualizar diferentes miradas frente a la construcción de la represa como generadora de energía.</p>
<p>Acercar a los estudiantes hacia el análisis, la lectura crítica y a la evaluación de los desarrollos tecnocientíficos.</p>
<p>Incentivar el acercamiento de los educandos a la participación y democratización de los desarrollos que tienen que ver con la ciencia y la tecnología.</p>
<p>Fortalecer a partir de las controversias tecnocientíficas la investigación en el aula de clase.</p>
</div>