<h1>ORGANIZACIÓN DE LA CONTROVERSIA</h1>
<div class="row">
        <p>Para el desarrollo de la controversia hemos identificado cuatro actores que participan de la controversia frente a la construcción de la hidroeléctrica de Hidroituango.</p>

        <p><strong>Ríos Vivos de Antioquia</strong>, quienes han hecho un seguimiento exhaustivo del proyecto desde el momento que se concibió la construcción de la hidroeléctrica y han denunciado los efectos sociales, culturales, económicos, y ambientales que ésta ha dejado sobre los habitantes de la región.</p>
        
        <p><strong>Empresas Públicas de Medellín</strong>, encargados de la ejecución del proyecto y responsables directos de la distribución de energía para el país . Defensores acérrimos de las bondades y beneficios que el proyecto reportan en materia de energía para los próximos cincuenta años.</p>
        
        <p><strong>El ministerio de Minas y Energía</strong>, que han avalado y respaldado con la reglamentación jurídica y política la ejecución de la construcción de la hidroeléctrica.</p>
        
        <p><strong>Población barequera</strong>,  personas que pueblan las riberas fronterizas o casco urbano alrededor del río Cauca, conocidos como cañoneros , los cuales ejercen la profesión de la pequeña minería o minería artesanal, conocida como Barequeo siendo afectados por el proyecto.</p>
</div>