<div class="row d-flex justify-content-center">
    <h1>ARTÍCULO INICIAL</h1>
</div>
<div class="row">
    <strong>Hidroituango: alerta en municipios por taponamiento de quebrada.</strong><br>
<p>Un movimiento en masa el kilómetro 56 + 500 en la vía nacional, generó un represamiento en la quebrada la Sinifaná que tiene en alerta a los municipios de Titiribí, Venecia y su corregimiento Bolombolo, donde varios habitantes debieron ser evacuados en la madrugada de este martes.</p>
<p>El deslizamiento, representa un riesgo para los municipios aguas abajo del proyecto hidroeléctrico Ituango, toda vez que se puede presentar una avenida torrencial en cualquier momento. La directora del Dapard, Juliana Palacio explicó que se activaron los protocolos de prevención en la zona que permanece en alerta roja, pero que por ahora no es necesario evacuar a los trabajadores de la megaobra.</p>
<p>Según Juliana Palacios, “alertamos al proyecto hidroeléctrico Ituango porque puede haber una avenida torrencial que afecte los caudales del río Cauca y a los municipios aguas abajo”.</p>
<p>Por la inestabilidad del terreno, no ha sido posible ingresar maquinaria amarilla que permita remover el material que obstruye el paso del agua.  Sólo en en el municipio de Concordia, 60 familias resultaron afectadas por el deslizamiento.</p>
<p>Consecuencias de las lluvias en Hidroituango</p>
<p>Según un informe de la Universidad Nacional, el colapso del túnel auxiliar, en marzo, y las recientes filtraciones en los túneles de captación de Hidroituango pueden ser indicadores de problemas más grandes, como la posible caída del macizo, que se agravaría con la temporada de lluvias o eventuales sismos.</p>
<p>Para el profesor Modesto Portilla, quien conoce de cerca el proyecto Hidroituango, varias son las propuestas para evitar posibles desastres, entre ellas reforzar el macizo rocoso sobre el cual se sostiene la obra y evacuar a las comunidades residentes en el cañón del río Cauca.</p>
<p>Por su parte, el gerente del Grupo EPM, Jorge Londoño de la Cuesta, indicó que, aunque no conoce el comunicado de la institución universitaria, en el proyecto sí se están adelantando las actividades para reforzar el macizo rocoso y así consolidarlo.</p>
<p><a href="https://www.rcnradio.com/colombia/antioquia/hidroituango-alerta-en-municipios-por-taponamiento-de-quebrada">Fuente: https://www.rcnradio.com/colombia/antioquia/hidroituango-alerta-en-municipios-por-taponamiento-de-quebrada</a> </p>

</div>