<div class="row d-flex justify-content-center mt-3">
    <h1>HIDROITUANGO EL FUTURO ENERGÉTICO DE COLOMBIA QUE DEBE SER MONITOREADO</h1>
</div>
<strong>David Ricardo Polo Bello
</strong>
<div class="mt-3">
    <p>Actualmente Colombia cuenta con una capacidad eléctrica instalada de 15 GW, de los cuales 10 GW corresponden a
        generación hidráulica. Según estudios generado por Colciencias se estima que dicha cifra tiene un potencial de
        aprovechamiento de hasta 6 veces la capacidad actual que tiene el país, para un total de 56 GW sólo en proyectos
        a hidroeléctricos. El mega proyecto Hidroituango plante generar 2.400 MW lo cual representa una gran cifra en
        generación de energía para Colombia además de ser el proyecto con la infraestructura más gran del país, por lo
        cual el ministerio de minas y energía aprobó el proyecto, pero este es monitoreado y regulado con el fin de
        proteger a la región en términos sociales y naturales.</p>

    <p><strong>Apartados</strong></p>
    <p>En el desarrollo del documento se hablará impactos sociales e impactos ambientales cada uno desarrollándose desde
        los beneficios que trae el proyecto Hidroituango en determinado aspecto y dejando en evidencia como el
        ministerio de minas y energía tiene participación para el cumplimiento y aprovechamiento de los mismos. </p>

    <p><strong>Impactos sociales</strong></p>
    <p>En el año 2007 la hidroeléctrica Hidroituango presenta ante el ministerio de minas y energía el estudio de
        impacto ambiental y mediante la resolución 0155 del 30 de enero de 2009 le es entregada la licencia ambiental
        para el proyecto, mediante la cual es evaluada una zona de 24.956 hectáreas. Teniendo en cuenta que el área
        destinada a la construcción está poblada, se genera un manual de valores unitarios avaluó de predios y mejoras
        el cual estipula que se le debe pagar a cada dueño de terreno dependiendo de su terreno y sus plantas; todo
        estipulado con el fin de que la población no se vea gravemente afectada.</p>
    <p>La valoración del terreno se genera teniendo cuatro aspectos principales, como la topografía del sitio la cual
        tiene un ponderado del 30%, la hidrología que contenga el predio con un ponderado del 20%, la adecuación del
        sitio ponderada con un 30% y las vías que contenga el lugar puntuadas con un 20%, todas expuestas por ministerio
        de minas y energía en el manual de valores unitarios de avaluó de predios y mejoras además el documento estipula
    </p>
    <p>“Adicionalmente se concertó que las zonas explotadas agropecuariamente deberían tener un valor base más alto que
        las zonas que no han sido intervenidas, además para las franjas de terreno de la vía en la variante san Andrés
        de Cuerquia, la rectificación San Andrés de Cuerquia – El valle de Toledo e inicio de vía Puerto Valdivia-Presa
        se tuvieron en cuenta otros aspectos adicionales como el urbanismo, sector, distanciamiento del casco urbano y
        para el resto de predios que requiere la hidroeléctrica se establecen rangos de valores de acuerdo a la cantidad
        de terreno a adquirir” .</p>

    <p>Lo anterior estipula la valoración solo del terreno neto, es decir se hace una valoración aparte del cultivo todo
        en pro de que el poblador o campesino se vea afectado en lo más mínimo por la construcción del mega proyecto.
    </p>

    <p>En cuanto a la valoración de los cultivos de la zona se hizo consultas con la secretaria de agricultura,
        FEDEPANELA, FEDECACAO, Acción social – Naciones Unidas, federación nacional de cafeteros, Central Mayorista,
        sistema de información de precios secretaria de agricultura (SIPSA), instituto Colombiano Agropecuario (ICA),
        Corporación de investigación agropecuaria (CORPOICA), Unidades Municipales de Asistencia Técnica Agropecuaria
        (UMATAS) de San Andrés de Cerquia, Yarumal, Ituango, Briceño, Sabanalarga, Liborina, Peque, Buritacá, Puerto
        Valdivia, Toledo, y agricultores de la zona, afirma el ministerio de minas y energía en el manual de valores
        unitarios avaluó de predios y mejoras; para llegar a una forma eficiente, justa y equitativa en pro del
        campesino habitante del predio a ser comprado para la construcción de mega proyecto Hidroeléctrica Ituango. La
        valoración de cultivos abarca dos tipos de cosecha: las cosechas bajo sistemas tecnificados que son valoradas
        teniendo en cuenta los costos totales del establecimiento, producción, cosecha, comercialización; en cuento a
        las cosechas de bajo el sistema de agricultura tradicional, se tiene en cuenta insumos, mano de obra y
        comercialización de los mismos. En ambos casos se realiza una proyección de producción futura de cada cultivo y
        al final se hace una calificación cualitativa a cada cultivo según su estado fisiológico.</p>

    <p>A demás se debe tener en cuenta que la valoración y la compra de los predios necesarios puede tardar un tiempo
        indefinido el ministerio de minas y energía se estipula un párrafo de actualización de valor de los cultivos el
        cual dice:</p>
    <p>“El manual de valores unitarios del proyecto Hidroeléctrica Ituango, se actualizará cada año a partir del primero
        de enero del 2011, según el índice de Precios al Consumidor IPC del año inmediatamente anterior durante todo el
        proceso de compra”1.</p>

    <p>No obstante el proyecto Ituango no solo influye sobre la población a la que le está comprando los predios
        necesarios para su construcción, también contempla a la población cercana al proyecto por lo cual plantea
        diversos proyectos en pro de la sociedad aledaña como lo es el programa de comunicación y participación
        comunitaria que tiene como propósito lograr la construcción de relaciones de confianza, mutuo entendimiento con
        los grupos que habitan el área de influencia, utilizando estrategias de comunicación, que la confianza del
        suministro de información clara, veraz y oportuna, relacionada con los impactos y medidas de manejo del proyecto
        Ituango, así como con la respuesta oportuna a las solicitudes, quejas, reclamos e inquietudes de la comunidad.
        Pero este no es el único proyecto social gestionado por Ituango también tenemos al proyecto “Programa de
        restitución de las condiciones de vida” cuyo propósito es restituir las condiciones de vida de la población que
        está siendo influenciada por el proyecto, esto a través de procesos participativos y decisiones tomadas entre
        EPM y la comunidad todo en el marco de la ley; el programa tiene en contemplación reestablecer las condiciones
        de vivienda, actividades productivas y culturales que sean afectadas teniendo en cuenta lo dicho por parte de
        Ituango y epm:</p>
    <p>“El esquema de este programa presenta proyectos por grupos de población específicos. En este sentido, se
        focalizaron, para cada población, cuatro componentes básicos: acompañamiento psicosocial, recomposición de redes
        sociales y culturales, restitución y compensación de actividades económicas y reposición de viviendas e
        infraestructura comunitaria.”.</p>

    <p>Por ultimo tenemos el programa de integración proyecto - región el cual tiene por objetivo principal la inserción
        del proyecto Ituango e la región, por medio de la interacción entre el proyecto, las comunidades que son
        impactadas por el proyecto las instituciones de naturaleza pública y privadas y los entes políticos de la
        región; en esta medida el programa busca contribuir al fortalecimiento de la institucionalidad del territorio,
        tomando como puente las administraciones municipales y las organizaciones comunitarias afirma Hidroituango. Para
        asegurar esto el programa propone los siguientes proyectos: 1) generación de empleos el cual estipula que la
        mano de obra no calificada debe pertenecer a la región; 2) fortalecimiento institucional y comunitario con
        énfasis en las organizaciones comunitarias; 3) seguimiento y manejo de la presión migratoria; 4) la creación de
        un observatorio del entorno socio político con la construcción de acuerdos de seguridad y por ultimo 5) un
        proyecto de educación ambiental declara Hidorituango3.</p>

    <p>Podemos apreciar como el ministerio de minas y energía vela por los derechos y pone como objetivo principal el
        bienestar de la población influida por el proyecto Hidroeléctrica Ituango, el cual ha presentado los estudios
        necesarios y cumplido con lo pactado en diversos acuerdos pactados en beneficio de la población habitante cerca
        al mega proyecto, además de presentar diversos proyectos e iniciativas que toman como principal justificación y
        objetivo el bienestar e inclusión de la población circundante al proyecto. </p>

    <p><strong>Impactos ambientales</strong></p>
    <p>Como se dijo anteriormente el mega proyecto Hidroituango que es la obra más grande de infraestructura que
        actualmente se ejecuta en Colombia la cual abarcara aproximadamente una zona de 24.956 hectáreas y dado que es
        en la zona del rio cauca es inevitable que exista algún impacto en el medio que rodea al proyecto por lo cual es
        necesario que además de estudios de impacto ambientales, los cuales fueron presentados y aprobados por el
        ministerio de minas y energía; se generen respectivos planes de manejo ambiental, el plan de monitoreo y
        seguimiento, el plan de contingencias y el plan de abandono, este último una vez terminada la construcción del
        proyecto. Por lo cual Hidroituango expone planes como: Manejo de impactos sobre el recurso del suelo el cual
        incluye actividades para almacenar y reutilizar el suelo orgánico o productivo, el manejo del material sobrante
        de las excavaciones, conformar zonas para el depósito y la estabilización de taludes con el objetivo de prevenir
        la erosión que pueda presentarse con los cortes de las vías, túneles y demás obras pertenecientes al proyecto;
        plan de manejo de impactos sobre el recurso del agua el cual cumple con el propósito de evitar el deterioro de
        las fuentes de agua, ríos o quebradas que puedan ser intervenidas en la realización del proyecto, este tiene
        planeada actividades como el manejo de las aguas lluvias por medio de canales de drenaje, filtros y zanjas por
        su parte Hidroituango afirma que:</p>
    <p>“En este programa juegan un papel importante las medidas para evitar el aporte de sedimentos y materia orgánica a
        las quebradas y las fuentes de agua”.</p>

    <p>También tenemos el proyecto manejo de impactos sobre el recurso aire que vela por las actividades para el manejo
        y control del material particulado o el denominado polvo que deriva de la explotación de canteras, vías,
        trituradoras, plantas de concreto y demás instalaciones necesarias para el proyecto. Además, busca proteger la
        salud de los habitantes de la región y trabajadores del proyecto, por lo cual toman medidas como humectación de
        las vías, el control de límites de velocidad para los vehículos livianos y pesados, controles en las plantas de
        trituración y aislamientos acústicos para mitigar el ruido, el cubrimiento con carpas de las volquetas, la
        revisión de los vehículos, entre otras.</p>
    <p>Por parte de la fauna y flora se tiene el proyecto Mitigación de impactos sobre cobertura vegetal y fauna el cual
        busca restaurar y proteger áreas que sean afectadas por el proyecto a ejerciendo actividades como el monitoreo
        del paisaje, la adecuación del baso del embalse, el manejo y restauración de la cobertura vegetal, construcción
        de viveros, inventarios de fauna y flora, rescate y reubicación de especies. Hidroituango afirma que:</p>
    <p>“En total, el proyecto compensará más de 17.500 hectáreas, incluyendo un área para la protección del embalse de
        casi 1.650 hectáreas”5.</p>

    <p>En cuanto a la fauna silvestre el proyecto plantea un salvamento y reubicación de las especies que habitan en la
        zona del proyecto; también plantea un programa específico para el salvamento de peces, tanto en la desviación
        del rio, como durante el llenado del embalse.</p>
    <p>Pero teniendo en cuenta que los proyectos planteados no siempre dan los mejores resultados, y al contemplas
        diversos riesgos que se empezaron a generar por la construcción del proyecto como, por ejemplo:</p>
    <p>“El de ayer fue un día desafortunado para el río Cauca. El caudal ha bajado de forma grave, a niveles nunca
        vistos, y hay una mortandad de peces”.</p>
    <p>Señala el Contralor Delegado de Medio Ambiente, Diego Alvarado; por lo cual el ministerio de minas y energía
        construyo una moderna central de monitoreo en Hidroituango con el objetivo de que los impactos sociales y
        ambientales generados por el proyecto sean lo más mínimo por lo que el anterior ministro de minas y energía
        Tomás González Estrada dijo:</p>
    <p>“Lo que estamos haciendo es montar un único centro de monitoreo que recoja toda la información técnica y que nos
        permita monitorear esto como un sistema completo, no como eventos independientes” .</p>
    <p>Esto con el único fin de proteger la región en la que se sitúa el proyecto.</p>
    <p>Así se puede contemplar como a pesar de que el proyecto Hidroituango tiene todos los abales por parte del
        ministerio de minas y energía, y tiene planteados diversos planes ya expuestos para la mitigación de daños
        ambientales, el ministerio de minas y energía es quien se está encargando de velar por que las responsabilidades
        adquiridas por el proyecto sean cumplidas a cabalidad.</p>

    <p><strong>Conclusiones</strong></p>
    <p>El proyecto trae consigo muchos beneficios tanto para el país como para la población cercana al proyecto, pero
        este proyecto también trae consigo múltiples responsabilidades que el ministerio de minas y energía se han
        encargado de velar porque el proyecto cumpla con las mismas; dado diversos problemas ambientales se toma la
        decisión de crear un centro de control para el proyecto el cual arroje datos verídicos del proyecto todo en pro
        de mantener el bienestar de la región.</p>
    <p>El ministerio de minas y energía contempla y prioriza a la población por lo cual genera diversos estatutos como
        los es la resolución numero 18 0577 de 9 de abril de 2010 para generar el pago correcto y justo a la población
        que debe vender sus predios para la construcción dl proyecto.,</p>

    <p><strong>Bibliografía</strong> </p>

    <p>Resolución número 18 0577 de 9 de abril de 2010,
        http://servicios.minminas.gov.co/minminas/downloads/archivosSoporteRevistas/6041.pdf</p>
    <p>Pagina web epm, https://www.epm.com.co/site/nuestros-proyectos/proyecto-ituango/manejo-ambiental</p>
    <p>Balance de la visita de la contraloría a la zona del rio cauca afectada por la decisión del proyecto Hidroituango
        de cerrar la compuerta 1,
        https://www.contraloria.gov.co/contraloria?p_p_id=101&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&_101_struts_action=%2Fasset_publisher%2Fview_content&_101_returnToFullPageURL=%2F%3Fp_p_id%3D3%26p_p_lifecycle%3D0%26p_p_state%3Dmaximized%26p_p_mode%3Dview%26_3_groupId%3D0&_101_assetEntryId=1391964&_101_type=content&_101_urlTitle=balance-de-la-visita-de-la-contraloria-a-la-zona-del-rio-cauca-afectada-por-la-decision-del-proyecto-hidroituango-de-cerrar-la-compuerta-2&redirect=https%3A%2F%2Fwww.contraloria.gov.co%3A443%2Fcontraloria%3Fp_p_id%3D3%26p_p_lifecycle%3D0%26p_p_state%3Dmaximized%26p_p_mode%3Dview%26_3_groupId%3D0%26_3_keywords%3Dhidroituango%26_3_struts_action%3D%252Fsearch%252Fsearch%26_3_redirect%3D%252F%253Fp_p_id%253D3%2526p_p_lifecycle%253D0%2526p_p_state%253Dmaximized%2526p_p_mode%253Dview%2526_3_groupId%253D0&inheritRedirect=true
    </p>
    <p>Página web Hidroituango, https://www.hidroituango.com.co/proyectos/proyecto-hidroelectrico-ituango/38</p>
    <p>Cuevas Guarnizo Angélica María, Dos caras de Hidroituango,
        https://www.elespectador.com/noticias/medio-ambiente/dos-caras-de-hidroituango-articulo-475886</p>
    <p>Gobierno inició montaje de una moderna central de monitoreo en Hidroituango,
        https://www.minenergia.gov.co/web/guest/historico-de-noticias?idNoticia=24012047</p>
    <p>Lista la Misión de 20 expertos que trazará la ruta para la transformación energética en Colombia,
        https://www.minenergia.gov.co/web/guest/historico-de-noticias?idNoticia=24103947</p>
    <p>Primer atlas hidroenergético revela gran potencial en Colombia,
        https://www.minenergia.gov.co/web/guest/historico-de-noticias?idNoticia=12507164</p>
    <p>Hidroeléctrica de Ituango: beneficios y consecuencias
        https://www.las2orillas.co/hidroelectrica-ituango-beneficios-consecuencias/</p>

</div>